{% extends 'base.html.twig' %}

{% block title %}Novo Depoimento{% endblock %}

{% block body %}
    <h1>Novo Depoimento</h1>

    {{ include('admin/testimony/_form.html.twig') }}

    <a class="btn btn-secondary float-start ms-3" href="{{ path('app_admin_testimony_index') }}">Voltar</a>
{% endblock %}
