{% extends 'base.html.twig' %}

{% block title %}New GlobalTags{% endblock %}

{% block body %}
    <h1>Create new GlobalTags</h1>

    {{ include('admin/global_tags/_form.html.twig') }}

    <a href="{{ path('app_admin_global_tags_index') }}">back to list</a>
{% endblock %}
