{% extends 'base.html.twig' %}

{% block title %}Nova Notícia{% endblock %}

{% block body %}
    <h1>Nova Notícia</h1>

    {{ include('admin/news/_form.html.twig') }}

    <a class="btn btn-secondary float-start ms-3" href="{{ path('app_admin_news_index') }}">Voltar</a>
{% endblock %}
