<form method="post" action="{{ path('app_admin_time_line_delete', {'id': time_line.id}) }}" onsubmit="return confirm('Você quer excluir esse item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ time_line.id) }}">
    <button class="btn btn-danger ms-3 text-white">Excluir</button>
</form>
