{% extends 'base.html.twig' %}

{% block title %}Editar Linha do Tempo{% endblock %}

{% block body %}
    <h1>Editar Linha do Tempo</h1>

    {{ include('admin/time_line/_form.html.twig') }}

    <a class="btn btn-secondary float-start ms-3" href="{{ path('app_admin_time_line_index') }}">Voltar</a>

    {{ include('admin/time_line/_delete_form.html.twig') }}
{% endblock %}
