{% extends 'base.html.twig' %}

{% block title %}Nova Linha do Tempo{% endblock %}

{% block body %}
    <h1>Nova Linha do Tempo</h1>

    {{ include('admin/time_line/_form.html.twig') }}

    <a class="btn btn-secondary float-start ms-3" href="{{ path('app_admin_time_line_index') }}">Voltar</a>
{% endblock %}
