{% extends 'base.html.twig' %}

{% block title %}Editar SEO{% endblock %}

{% block body %}
    <h1>Editar SEO</h1>

    {{ include('admin/page_seo/_form.html.twig') }}

    <a class="btn btn-secondary float-start ms-3 mt-1" href="{{ path('app_admin_page_seo_index') }}">Voltar</a>

{% endblock %}
