{% extends 'base.html.twig' %}

{% block title %}Novo Financiamento{% endblock %}

{% block body %}
    <h1>Novo Financiamento</h1>

    {{ include('admin/financing/_form.html.twig') }}

    <a class="btn btn-secondary float-start ms-3" href="{{ path('app_admin_financing_index') }}">Voltar</a>
{% endblock %}
