{% extends 'base.html.twig' %}

{% block title %}Nova Imagem do Produto{% endblock %}

{% block body %}
    <h1>{{ product.title }}</h1>
    <h5>Nova Imagem do produto</h5>
    <hr>

    {{ include('admin/product_image/_form.html.twig') }}

    <a class="btn btn-secondary float-start ms-3" href="{{ path('app_admin_product_image_index', {'productId':product.id}) }}">Voltar</a>
{% endblock %}
