{% extends 'base.html.twig' %}

{% block title %}Nova Categoria de Produto{% endblock %}

{% block body %}
    <h1>Nova Categoria de Produto</h1>

    {{ include('admin/product_category/_form.html.twig') }}

    <a class="btn btn-secondary float-start ms-3" href="{{ path('app_admin_product_category_index') }}">Voltar</a>
{% endblock %}
