{% extends 'base.html.twig' %}

{% block title %}ProductProperty index{% endblock %}

{% block body %}
    <h1>Propriedades dos produtos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
            </tr>
        </thead>
        <tbody>
        {% for product_property in product_properties %}
            <tr>
                <td>{{ product_property.id }}</td>
                <td>{{ product_property.title }}</td>
                <td>
                    <a class="btn btn-primary float-end" href="{{ path('app_admin_product_property_edit', {'id': product_property.id}) }}" type="button" >Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Sem registros...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a ></a>
    <a href="{{ path('app_admin_product_property_new') }}" type="button" class="btn btn-success text-white">Novo</a>

{% endblock %}
