<form method="post" action="{{ path('app_admin_product_property_value_delete', {'id': product_property_value.id}) }}" onsubmit="return confirm('Você quer excluir esse item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product_property_value.id) }}">
    <button class="btn btn-danger ms-3 text-white">Excluir</button>
</form>
