{% extends 'base.html.twig' %}

{% block title %}Nova Propriedade do Produto{% endblock %}

{% block body %}
    <h1>Criar Nova Propriedade do Produto</h1>

    {{ include('admin/product_property_value/_form.html.twig') }}

    <a class="btn btn-secondary float-start ms-3" href="{{ path('app_admin_product_property_value_index') }}">Voltar</a>
{% endblock %}
